@charset "UTF-8";
body{
    color: #24292e;
    font-size: 14.4px;
}
.headerWrap{
    max-width: 960px;
    margin: 121px auto;
    display: flex;
    padding: 0 4%;
    justify-content: space-between;
    align-items: center;
}
.headerWrap ul{
    display: flex;
    align-items: center;
}
.headerWrap ul li{
    margin-right: 33px;
}
.headerWrap ul li:last-child{
    margin-right: 0;
}
.headerWrap ul li img{
    width: 20px;
    height: 20px;
}
.headerWrap ul li a:hover{
    color: #C8C8C8;
}
.mainVisual img{
    width: 100%;
    height: 420px;
    object-fit: cover;
    margin-bottom: 87px;
}
.mainvisual-sp { display: none !important; }
.mainDiv{
    max-width: 960px;
    margin:0 auto;
    padding: 0 4%;
}
.mainDiv h2{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 70px;
}
.name{
    margin-top: 4px;
}
#About address{
    margin-top: 37px;
    line-height: 1.2;
}
.text{
    margin-top: 47px;
    margin-bottom: 133px;
    line-height: 1.2;
}
#Works ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 114px;
}
#Works ul li{
    flex-basis: 30.5%;
    margin-bottom: 23px;

}
#Works ul li img{
    width: 100%;
}
#News table{
    margin-bottom: 137px;
    width: 100%;

}
#News table tr {
    border-top:solid 1px#C8C8C8;
}
#News table tr th{
    font-weight: normal;
    /*margin-right: 90px;*/
    padding: 17px 90px 17px 14px;
}
#News table tr td{
    padding-top: 17px;
    padding-bottom: 17px;
}
#Contact table{
    margin-top: 70px;
    width: 100%;
    margin-bottom: 30px;
}
#Contact table tr{
    width: 100%;

}
#Contact table tr th{
    font-weight: normal;
}
#Contact table tr td{
    width: 80%;
    padding-bottom: 10px;
}
#Contact table tr td input{
    border: #C8C8C8 solid 1px;
    width: 100%;
    height: 43px;
}
#Contact table tr td textarea{
    border: #C8C8C8 solid 1px;
    width: 100%;
    height: 160px;
}
.button{
    margin-bottom: 130px;
    text-align: center;
}
.button input{
    width: 200px;
    height: 53px;
    background-color: #24292e;
    color: #ffffff;
}
.button input:hover{
    background-color: #ffffff;
    color: #24292e;
    border:solid 1px #24292e;
}

footer{
    background-color: #24292e;
    text-align: center;
    color: #ffffff;
    font-size: 10px;
    padding-top: 13px;
    padding-bottom: 12px;
}
@media screen and (max-width: 600px){
    .headerWrap{
        display: block;
        margin-top: 20px;
        margin-bottom: 18px;
    }
    .headerWrap h1{
        text-align: center;
        margin-bottom: 15px;
    }
    .headerWrap ul{
        justify-content: center;
    }
    .headerWrap ul li{
        font-size: 12.8px;
        margin-right: 24px;
    }
    .mainvisual-pc { display: none !important; }
    .mainvisual-sp { 
        display: block !important; 
    }
    .mainDiv h2{
        margin-bottom: 45px;
    }
    .text{
        margin-bottom: 61px;
    }
    #Works ul{
        display: block;
        margin-bottom: 77px
    }
    #News table{
        margin-bottom: 77px;
    }
    #News table tr th{
        display: block;
        width: 100%;
        padding: 19px 0 5px 14px;
    }
    #News table tr td{
        display: block;
        width: 100%;
        padding: 0 30px 15px 14px;
    }
    #News table tr:last-child{
        border-bottom: solid 1px#C8C8C8;
    }
    #Contact table{
    margin-top: 0;
    }
    #Contact table tr th{
        display: block;
        width: 100%;
    }
    #Contact table tr td{
        display: block;
        width: 100%;
    }
    .button{
    margin-bottom: 70px;
    }
}